<!DOCTYPE html>
<html>
<head>
    <title>Login IQ Option</title>
</head>
<body>
    <h2>Login IQ Option</h2>
    <form method="post">
        <input type="email" name="email" placeholder="E-mail" required><br>
        <input type="password" name="senha" placeholder="Senha" required><br>
        <label>Conta:</label>
        <select name="tipo_conta">
            <option value="PRACTICE">Demo</option>
            <option value="REAL">Real</option>
        </select><br><br>
        <input type="submit" value="Conectar">
    </form>
</body>
</html>